# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# ===============================
# Flask
# ===============================
instance/
.webassets-cache

# ===============================
# Database
# ===============================
*.db
*.sqlite3

# ===============================
# Logs
# ===============================
*.log

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db